$myColor: green;
$btHeightSize: 150px; 
$btWidthSize: $btHeightSize * 2; 

// control of bootstrap col size
$formTitle: 5;
$formValue: 7;

h2 {
  color: $myColor;
}

.myBt {
  font-size: 30px;
  height: $btHeightSize;
  width: $btWidthSize;
  margin: 50px;
}


:export {
  formTitle: $formTitle;
  formValue: $formValue;
}
